$nav-fontsize: 1.2rem;
$nav-margin: 1.5em;
$home-background-img: url("./images/Mountains.jpg");
$blog-card-padding: 10px;
$primary-color: #fff;
$user-blog-fontsize: 1.5rem;
@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
}

body {
  font-family: "Playfair Display";
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.home-page-container {
  min-height: 100vh;
  border: 2px solid yellow;

  .home-blurb {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      font-size: 5rem;
      font-weight: 500;
      margin: 0;
    }

    em {
      font-size: 2rem;
    }
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;

  h4 {
    margin-left: $nav-margin;
  }

  ul {
    display: flex;
    margin-right: $nav-margin;
    list-style: none;
    li {
      margin-left: $nav-margin;
    }
  }
  .nav-elements {
    display: flex;

    p {
      margin-right: $nav-margin;
    }
    :hover {
      cursor: pointer;
    }
  }

  font-size: $nav-fontsize;

  border: 2px solid red;
}

.blogs-page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.blog-card-container {
  margin: 15px;
  padding: $blog-card-padding;
  border: 2px solid purple;
  width: 80%;
  max-width: 650px;

  .blog-card-teaser {
    display: flex;
    border: 2px solid green;

    span {
      padding: $blog-card-padding;
    }
  }

  .blog-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    border: 2px solid purple;
  }
  :hover {
    cursor: pointer;
  }
}

.user-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $user-blog-fontsize;
  width: 80%;
  border: 2px solid red;

  .user-blog-thumbnail {
    max-width: 400px;
  }
}
