$nav-fontsize: 1.3rem;
$nav-margin: 1.5em;
$blog-card-padding: 10px;
$primary-color: #141414;
$secondary-color: #121212;
$accent-color: #fff;
$active-color: #7a7a7a;
$off-white: #f8f5ef;
$highlight-color: #ac0b0a;
$user-blog-fontsize: 1.25rem;
$nav-bar-height: 80px;
$img-border-radius: 4px;
$elements-margin: 15px;
$user-blog-pad: 15px;
$blur: 4px;
// box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);

@mixin blog-intro() {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@mixin intro-overlay() {
  position: absolute;
  text-align: center;
  color: $accent-color;
  font-size: 1.5rem;
}

@mixin page-banner() {
  height: 40vh;
  width: 100%;
  img {
    height: 100%;
    object-fit: cover;
  }
}

@mixin flexbox-positions($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

body {
  font-family: "Playfair Display";
  background-color: $secondary-color;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

ul {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

input {
  font-family: "Playfair Display";
}

textarea {
  min-height: 200px;
  font-family: "Playfair Display";
}
button {
  border: 1.5px solid $accent-color;
  color: $accent-color;
  padding: 0.5rem 1.2rem;
  background-color: $secondary-color;
  transition: 0.2s;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

button:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: #a5a5a5;
}

button:active {
  cursor: pointer;
  transition: 0.2s;
  background-color: #edeff2;
}

input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid $secondary-color;
  font-size: 1.25rem;
  padding: 10px 0;
  height: 20px;
  background: transparent;
}

.update-pro-popup {
  @include flexbox-positions($justify: center, $align: center);
  position: fixed;
  background-color: rgba(211, 211, 211, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  color: $secondary-color;
  height: 100vh;
}

.submit-confirm {
  @include flexbox-positions($justify: space-between, $align: center);
  position: relative;
  width: 25%;
  max-width: 300px;
  min-width: 150px;
  background-color: $accent-color;
  padding: 10px 20px;

  button {
    margin: 0;
  }
}

.home-page-container {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  position: absolute;

  .home-background {
    @include flexbox-positions($justify: flex-start, $align: flex-start);
    min-height: 100vh;

    img {
      object-fit: cover;
      min-height: 100vh;
    }
  }

  .home-blurb {
    color: $accent-color;
    position: absolute;
    z-index: 100;
    top: 160px;
    left: 50px;
    // border: 1.5px solid $accent-color;
    padding: 30px;
    @include flexbox-positions(
      $justify: flex-start,
      $align: flex-start,
      $direction: column
    );
    p {
      font-size: 5rem;
      font-weight: 500;
      margin: 0;
    }

    em {
      font-size: 2rem;
    }
  }

  button {
    color: $accent-color;
    border: 1px solid $accent-color;
  }

  button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: $active-color;
  }

  button:active {
    cursor: pointer;
    transition: 0.2s;
    background-color: $active-color;
  }

  p,
  em,
  button {
    margin: $elements-margin 0;
  }
}

.navbar-container {
  @include flexbox-positions($justify: space-between, $align: center);
  position: absolute;
  z-index: 200;
  height: $nav-bar-height;
  width: 100%;
  color: $accent-color;
  background-color: transparent;
  .nav-elem-ham {
    width: 100%;
    @include flexbox-positions($justify: space-between, $align: center);
  }
  a {
    text-decoration: none;
    color: $accent-color;
  }

  h4 {
    margin-left: $nav-margin;
  }

  .nav-elements-container {
    display: flex;
    font-weight: 600;

    ul {
      display: flex;
      margin-right: $nav-margin;

      li {
        transition: 0.2s;
        margin-left: $nav-margin;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        &:active {
          color: $active-color;
          transition: 0.2s;
        }
      }
    }
  }
  font-size: $nav-fontsize;
}

.login-page-container {
  height: 100%;

  img {
    object-fit: cover;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    filter: blur($blur);
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
  }

  .login-form-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 500px;
    min-width: 350px;
    @include flexbox-positions($justify: center, $align: flex-start);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: $img-border-radius;
    color: $accent-color;
    form {
      font-size: 1.25rem;
      font-weight: 600;
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      input {
        margin: $elements-margin 0;
        color: $accent-color;
      }

      button {
        color: $accent-color;
        margin-bottom: $elements-margin;
        border: 1px solid $accent-color;
      }

      button:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: $active-color;
      }

      button:active {
        cursor: pointer;
        transition: 0.2s;
        background-color: $active-color;
      }
    }

    .update-pro-popup {
      background-color: rgba(211, 211, 211, 0.25);
    }
  }
}

.blogs-page-container {
  @include flexbox-positions($justify: center, $align: flex-start);
  width: 100%;
  position: absolute;
  z-index: -200;
  min-height: 150vh;
  color: $accent-color;
  background-color: $off-white;
  color: #121212;

  .blog-banner {
    position: absolute;
    z-index: -10;
    height: 80px;
    width: 100%;
    background-color: $primary-color;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6);

    img {
      object-fit: cover;
      height: $nav-bar-height;
      min-height: 30vh;
      width: 100%;
    }
  }

  .blog-news-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
  }

  .news-container {
    @include flexbox-positions(
      $justify: center,
      $align: center,
      $direction: column
    );
    width: 30%;

    .news-title {
      font-size: 1.4rem;
      margin: 0;
    }

    .news-card-container {
      border: 1px solid $secondary-color;
      border-radius: $img-border-radius;
      margin: 25px;
      height: fit-content;
      max-width: 500px;
      padding: 30px;
      @include flexbox-positions(
        $justify: center,
        $align: center,
        $direction: column
      );

      .news-head {
        @include flexbox-positions($justify: center, $align: center);

        .news-thumbnail {
          overflow: hidden;
          height: 80%;
          border-radius: $img-border-radius;

          img {
            border-radius: $img-border-radius;
            margin-bottom: $elements-margin;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.5s;
            &:hover {
              transition: 0.5s;
              transform: scale(1.35);
            }
          }
        }
      }

      .news-body {
        width: 100%;
        .rights {
          font-style: italic;
          font-size: 0.8rem;
        }
        p {
          margin: $elements-margin 0;
        }
      }
    }
  }

  .blogs-page-forms {
    @include flexbox-positions(
      $justify: center,
      $align: center,
      $direction: column
    );
    margin: $elements-margin;

    .search-form-container {
      width: 40%;
    }

    .search {
      width: 100%;
      top: 0;
      display: flex;
      margin: $elements-margin;
    }

    .search-term {
      width: 100%;
      border: 2px solid $secondary-color;
      border: 0;
      border-bottom: 1px solid $secondary-color;
      border-radius: 5px 0 0 5px;
      outline: none;
    }

    .search-button {
      border: none;
      background: transparent;
      text-align: center;
      color: $secondary-color;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
  }

  .blog-display {
    @include flexbox-positions(
      $justify: flex-start,
      $align: center,
      $direction: column
    );
    width: 80%;
  }

  .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 80px;

    .blog-body-container {
      width: 100%;
    }

    .blog-page-intro {
      @include blog-intro();

      .intro-overlay {
        @include intro-overlay();
      }

      .blog-intro-banner {
        @include page-banner();
      }

      button {
        color: $accent-color;
        margin: $elements-margin;
        border: 1px solid $accent-color;
      }

      button:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: $active-color;
      }

      button:active {
        cursor: pointer;
        transition: 0.2s;
        background-color: $active-color;
      }
    }
  }

  .blog-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    border-bottom: 1px solid $secondary-color;
    width: 90%;
    max-height: 350px;
    max-width: 1000px;

    .blog-card-teaser {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 35px;

      span {
        padding: $blog-card-padding;

        h5 {
          font-size: 1.5rem;
          transition: 0.2s;
        }
      }
    }

    .blog-thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 200px;
      height: 85%;
      overflow: hidden;
      border-radius: $img-border-radius;

      img {
        border-radius: $img-border-radius;
        transition: 0.2s;
        height: 100%;
        transition: transform 0.5s ease;
        object-fit: cover;
        &:hover {
          transition: 0.5s;
          transform: scale(1.35);
        }
      }
    }
    :hover {
      cursor: pointer;
    }
  }

  .user-blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-size: $user-blog-fontsize;
    width: 100%;
    min-height: 200vh;

    .about-head {
      text-align: center;
      font-size: 1rem;

      width: 100%;
      border-top: 1.5px solid $secondary-color;
      border-bottom: 1.5px solid $secondary-color;
    }

    p {
      margin: $elements-margin 0;
      font-size: 1rem;
    }

    img {
      border-radius: $img-border-radius;
      margin-bottom: $elements-margin;
    }

    .editCancelBtn {
      margin: $elements-margin 0;
    }

    .user-blog-columns {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .left {
        width: 75%;
        padding: $user-blog-pad;
        margin: 0 $elements-margin;
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        padding: $user-blog-pad;
        margin: 0 $elements-margin;
      }

      .user-blog-head-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        em {
          font-size: 1rem;
        }
      }
    }

    .user-blog-thumbnail {
      width: 100%;

      img {
        object-fit: cover;
        height: 450px;
      }

      h3 {
        font-size: 3.8rem;
        margin: $elements-margin * 3 0;
      }
    }

    .user-blog-entry {
      .created-date {
        font-size: 0.8rem;
      }
    }
    .user-blog-info {
      @include flexbox-positions(
        $justify: center,
        $align: center,
        $direction: column
      );
      position: sticky;
      top: 0;
      width: 80%;

      .user-profile-picture {
        width: 40%;
      }

      .user-category {
        @include flexbox-positions(
          $justify: center,
          $align: center,
          $direction: column
        );

        span {
          @include flexbox-positions($justify: center, $align: center);
          flex-wrap: wrap;
        }

        p {
          margin: 0 5px;
        }
      }

      p {
        text-align: center;
        padding: 0.5rem;
      }

      .user-sidebar {
        @include flexbox-positions(
          $justify: center,
          $align: center,
          $direction: column
        );
        width: 100%;
      }
    }

    .user-related {
      span {
        p {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    .blog-edit-form-container {
      @include flexbox-positions($justify: center, $align: center);
      width: 100%;
      margin: $elements-margin 0;
      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          margin-bottom: $elements-margin;
        }

        span {
          margin-top: $elements-margin;
        }

        button {
          margin-top: $elements-margin;
        }
      }
    }
  }
}

.new-blog-container {
  @include flexbox-positions(
    $justify: center,
    $align: center,
    $direction: column
  );
  width: 100%;
  position: absolute;
  z-index: -200;
  min-height: 100vh;
  top: $nav-bar-height;
  background-color: $off-white;
  color: $primary-color;

  .new-blog-head {
    width: 100%;

    .blog-page-intro {
      @include blog-intro();

      .intro-overlay {
        @include intro-overlay();
      }

      .blog-intro-banner {
        @include page-banner();
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: $elements-margin * 4;

    label {
      margin-top: $elements-margin;
    }

    span {
      margin: $elements-margin 0;
    }

    button {
      margin-top: $elements-margin;
    }

    .ck-content {
      height: 500px;
    }
  }
}

.profile-container {
  @include flexbox-positions(
    $justify: center,
    $align: center,
    $direction: column
  );
  width: 100%;
  position: absolute;
  z-index: -200;
  top: $nav-bar-height;
  background-color: $off-white;
  color: $primary-color;

  .pro-head {
    width: 100%;

    h2 {
      font-size: 4rem;
    }

    .blog-page-intro {
      @include blog-intro();

      .intro-overlay {
        @include intro-overlay();
      }

      .blog-intro-banner {
        @include page-banner();
      }
    }
  }

  .pro-body {
    @include flexbox-positions(
      $justify: center,
      $align: center,
      $direction: column
    );
    width: 100%;

    p {
      font-size: 1.5rem;
    }

    .pro-page-pic {
      width: 10%;

      img {
        border-radius: $img-border-radius;
      }
    }
    form {
      width: 80%;
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: $elements-margin;
      }

      button {
        width: 30%;
      }
    }
  }

  button {
    margin-bottom: $elements-margin;
  }

  .confirm-delete {
    button {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog-card-container {
    @include flexbox-positions(
      $justify: space-between,
      $align: center,
      $direction: column
    );

    .blog-card-teaser {
      order: 2;
      width: 100%;
    }
    .blog-thumbnail {
      order: 1;
    }
  }
}
.nav-hamburger-container {
  display: none;
  text-align: center;
  top: 80px;
  right: 0;
  background-color: transparent;
}

@media only screen and (max-width: 1100px) {
  .confirm-delete {
    display: flex;
    flex-direction: column;
  }
  .blogs-page-container {
    .blog-card-container {
      max-height: none;

      .blog-card-teaser {
        padding-top: 0;
      }
    }
  }

  .blog-news-container {
    .blog-display {
      width: 100%;
    }
    .news-container {
      display: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  .blogs-page-container {
    .user-blog-container {
      .user-blog-columns {
        justify-content: center;
        .right {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .ham-elements-container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 14px;
  }

  .login-page-container {
    .login-form-container {
      min-width: 95%;
    }
  }

  .navbar-container {
    justify-content: center;
    flex-direction: column;
    background-color: $secondary-color;
    .nav-elements-container {
      display: none;
    }
  }

  .nav-elem-ham {
    width: 100%;
    @include flexbox-positions($justify: space-between, $align: center);
  }

  .nav-hamburger-container {
    display: block;

    margin-right: $elements-margin;

    .nav-hamburger-btn {
      background-color: transparent;
      color: $accent-color;
      border: none;
      outline: none;
      font-size: 1.5rem;
    }
  }

  .ham-elements-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50px;
    font-weight: 600;

    ul {
      text-align: center;
      padding: 0;
      background-color: $secondary-color;
      width: 100%;

      li {
        margin: $elements-margin 0;
      }
    }
  }

  .home-page-container {
    .home-blurb {
      top: 100px;
      left: 0;
    }
    .home-background {
      img {
        filter: blur($blur);
        -webkit-filter: blur($blur);
        -moz-filter: blur($blur);
        -o-filter: blur($blur);
        -ms-filter: blur($blur);
      }
    }
  }
}
