@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
}

body {
  font-family: "Playfair Display";
  background-color: #121212;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.home-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  position: absolute;
}

.home-page-container .home-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
}

.home-page-container .home-background img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100vh;
}

.home-page-container .home-blurb {
  color: #fff;
  position: absolute;
  z-index: 100;
  top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-page-container .home-blurb p {
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
}

.home-page-container .home-blurb em {
  font-size: 2rem;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 200;
  height: 80px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  font-size: 1.2rem;
}

.navbar-container a {
  text-decoration: none;
  color: #fff;
}

.navbar-container h4 {
  margin-left: 1.5em;
}

.navbar-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5em;
  list-style: none;
  text-decoration: none;
}

.navbar-container ul li {
  margin-left: 1.5em;
}

.navbar-container .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.navbar-container .nav-elements p {
  margin-right: 1.5em;
}

.navbar-container .nav-elements :hover {
  cursor: pointer;
}

.blogs-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  z-index: -200;
  color: #fff;
  background-color: #121212;
}

.blogs-page-container .blog-banner {
  position: absolute;
  z-index: -10;
  height: 80px;
  color: blueviolet;
  width: 100%;
  background-color: #141414;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

.blogs-page-container .blog-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80px;
  min-height: 30vh;
  width: 100%;
}

.blogs-page-container .blogs-page-forms .search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs-page-container .blogs-page-forms .search-term {
  width: 100%;
  border: 2px solid #ac0b0a;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.blogs-page-container .blogs-page-forms .search-button {
  border: 1px solid #ac0b0a;
  background: #ac0b0a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
}

.blogs-page-container .blog-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs-page-container .blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.blogs-page-container .blog-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  width: 80%;
  padding: 50px;
}

.blogs-page-container .blog-card-container .blog-card-teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.blogs-page-container .blog-card-container .blog-card-teaser span {
  padding: 10px;
}

.blogs-page-container .blog-card-container .blog-card-teaser span h5 {
  font-size: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blogs-page-container .blog-card-container .blog-card-teaser span h5:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blogs-page-container .blog-card-container .blog-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 250px;
}

.blogs-page-container .blog-card-container .blog-thumbnail img {
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blogs-page-container .blog-card-container .blog-thumbnail img:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blogs-page-container .blog-card-container :hover {
  cursor: pointer;
}

.blogs-page-container .user-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: 80%;
  min-height: 100vh;
}

.blogs-page-container .user-blog-container .user-blog-thumbnail {
  width: 100%;
}

.blogs-page-container .user-blog-container .user-blog-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 15px;
}

@media only screen and (max-width: 800px) {
  .blog-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-card-container .blog-card-teaser {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .blog-card-container .blog-thumbnail {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=style.css.map */