@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
}

body {
  font-family: "Playfair Display";
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.home-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  border: 2px solid yellow;
  position: absolute;
}

.home-page-container .home-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  border: 2px solid green;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page-container .home-background img {
  border: 2px solid red;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100vh;
}

.home-page-container .home-blurb {
  color: #fff;
  position: absolute;
  z-index: 100;
  top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-page-container .home-blurb p {
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
}

.home-page-container .home-blurb em {
  font-size: 2rem;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #1c1c1c;
  font-size: 1.2rem;
}

.navbar-container h4 {
  margin-left: 1.5em;
}

.navbar-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5em;
}

.navbar-container ul li {
  margin-left: 1.5em;
}

.navbar-container .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container .nav-elements p {
  margin-right: 1.5em;
}

.navbar-container .nav-elements :hover {
  cursor: pointer;
}

.blogs-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-card-container {
  margin: 15px;
  padding: 10px;
  border: 2px solid purple;
  width: 80%;
  max-width: 650px;
}

.blog-card-container .blog-card-teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid green;
}

.blog-card-container .blog-card-teaser span {
  padding: 10px;
}

.blog-card-container .blog-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100px;
  border: 2px solid purple;
}

.blog-card-container :hover {
  cursor: pointer;
}

.user-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: 80%;
  border: 2px solid red;
}

.user-blog-container .user-blog-thumbnail {
  max-width: 400px;
}
/*# sourceMappingURL=style.css.map */